:root {
  --global-theme-color: #c0392b;
  --global-hover-color: #96281b;
  --global-hover-text-color: #ffffff;
  --global-highlight-color: #922b21;
}

html[data-theme="dark"] {
  --global-theme-color: #e74c3c;
  --global-hover-color: #ff6b6b;
  --global-hover-text-color: #ffffff;
  --global-highlight-color: #e74c3c;
}
